.body__container {
    position: relative;
    overflow-x: auto;
    max-width: 420px;
    padding: 20px;
    box-shadow: 2px 2px 8px #ccc;
    margin: 20px auto;
    background-color: rgba(237, 247, 192, 0.664);
}