.form {
    background-color: rgb(237, 247, 192);
    padding: 10px;
}

.form__fieldset {
    border-radius: 5px;
    border: 2px solid #ccc;
    margin: 5px 5px;
    text-align: center;
}

.form__fieldLabel {
    margin-top: 10px;
    border: 2px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 350px;
    text-align: center;
    border-radius: 5px;
}

.form__fieldLabel:required {
    background-color: beige;
}

.form__fieldLabel:out-of-range {
    background-color: rgb(214, 122, 93);
}

.form__legend {
    position: relative;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: rgba(128, 255, 0, 0.22);
    color: rgb(4, 54, 15);
}

.form__labelText {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    padding: 10px 0px;
    margin-right: 5px;
    text-align: center;
}

.form__field {
    background: rgb(237, 247, 192);
    border-radius: 5px;
    border: 2px solid rgb(83, 105, 82);
    width: 320px;
    text-align: center;
    padding: 10px;
}

.form__button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 2px solid rgb(83, 105, 82);
    background-color: rgba(128, 255, 0, 0.4);
    color: rgb(83, 105, 82);
    font-weight: bold;
}

.form__button:hover {
    background-color: rgba(128, 255, 0, 0.85);
    color: rgb(4, 54, 15);
}

.form__button:active {
    background-color: rgba(128, 255, 0, 0.99);
    color: rgb(2, 24, 6);
    border: 2px solid rgb(2, 24, 6);
}

.exchangeRate__date {
    font-size: 9px;
    color: rgb(83, 105, 82);
    text-align: center;
}