html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.25;
    background-image: url("tlo2.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 21px;
    text-align: center;
    padding-bottom: 15px;
}